* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    padding: 20px 0;
}

.question {
    padding: 60px 25% 0;
}

p {
    margin-top: 40px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #3367d6;
}

li {
    font-size: 14px;
}

h3 {
    margin-top: 60px;
}